<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>problem.ProblemName</title>
</head>
<body>
{% if problem %}
<h1>{{problem.ProblemName}}</h1>
<h6>{{problem.Statement}}</h6>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <textarea name="code" id="code" > </textarea>
        <label for="code">code editor:</label><br>
</fieldset>
<input type="submit" value="submit">
</form>
{% else %}
<p>problem is not available</p>
{% endif %}
</body>
</html>